/* 

Pixl base file 

*/

@charset "utf-8";

@import "animations.css";
@import "buttons.css";
@import "colors.css";
@import "containers.css";
@import "content.css";
@import "dividers.css";
@import "forms.css";
@import "gradients.css";
@import "links.css";
@import "media.css";
@import "tables.css";
@import "typography.css";
@import "utilities.css";

@import "breakpoints.css";

:root {
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hidden,
[hidden] {
    display: none !important;
}
